.admin-panel{
    position:fixed;
    float:right;
    bottom:50px;
    right:50px;
    opacity:0.3;
    background: #EEE;
    border: 2px solid #999;
    border-radius: 5px;


}

.admin-panel a{
    display:block;
    margin: 10px 15px;


}
.admin-panel:hover{
    opacity:1;
    }

.navbar{
    z-index: 9999;
    top: 0;
    position: sticky;
}
.media-body{
 position:relative;
 }
.comment-buttons{
    list-style:none;
    opacity:0.3;
    position:absolute;
    top:-17px;
    right:0;
    margin: 0;
    padding: 0;
}
.comment-buttons li{
    display:inline;
    }
.comment-buttons li form input {
    margin-bottom:3px;
}

.comment-buttons:hover{
    opacity:1;
    }

.editCommentSubmit{
    display:None;
}

.pages-side-menu{
    position:absolute;
    top:100px;
    left:50px;
    background: lightgrey;
    width:240px;
    }

.pages-side-menu .page-side-menu-ul{
    list-style:none;
}
.pages-side-menu .btn-delete{
    float:right;
    width:30px;
    height:30px;
}
.list-group-item .selected{
    background: blue;
    }

.test_page_section, .question_commentory, .result_test_section .empty-form{
    display:none;
    }

.right_answer{
    background-color:green;
    }
.wrong_answer{
    background-color:red;
    }

.page-form{
    margin-bottom:20px;}
