{% extends 'base.html' %}
{% block sidemenus%}
<div class="pages-side-menu">
    <li {% if not page %}class="list-group-item"{% else %}
        class="list-group-item selected"{% endif %}><span>Test: </span><a href="{% url 'tests:edit_test' test.id %}">{{test.title}}</a></li>
    <li class="list-group-item"><a href="{% url 'tests:test_preview' test.id %}">Preview test.</a></li>
    <li class="list-group-item"><a href="{% url 'tests:test_delete_view' test.id %}">Delete test.</a></li>

    <ul class="list-group page-list">
    {% for pag in test.page.all %}
    <li {% if pag.order != page.order %} class="list-group-item"{% else %}
        class="list-group-item list-group-item-primary"{% endif %} data-id="{{pag.id}}">
        <!--<a href="{% url 'tests:page_delete' pag.id%}" data-page_id={{pag.id}} data-test_id={{test.id}} class="deletePage">✘</a>-->
        <form action="{% url 'tests:page_delete' pag.id %}" method="post">
            {% csrf_token%}
            <a href="{% url 'tests:edit_page' test.id pag.order %}"><span class="page-order">{{pag.order}}</span>. {{pag.title}}</a>
            <input type="submit" class="btn btn-default btn-danger btn-delete" value="✘">
        </form>
    </li>
    {% empty %}
    <li class="list-group-item">No pages</li>
    {% endfor %}
        </ul>
    <li class="list-group-item"><a href="{% url 'tests:add_page' test.id %}">Add new page</a></li>
    <li class="list-group-item"><a href="{% url 'tests:check_test' test.id %}">Publish test</a></li>

</div>
{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="test-form">
    <form action="" method="post" class="page-form"enctype="multipart/form-data">
        <div class="error">{{ form.errors }} </div>
        {% for field in form %}
         <div class="form-group">
             {{field.label}}
             {{field}}
         </div>
        {% endfor %}
        <!--<ul class="list-group question-list">-->
        <!--{% for field in formset %}-->
             <!--<li class="list-group-item" data-id="{{field.id}}">{{field.order}}. {{field.text}}</li>-->
        <!--{% endfor %}-->
        <!--</ul>-->
           <!--<ul class="list-group question-list">-->
               <!--{% for question in page.question.all %}-->
               <!--<li class="list-group-item" data-id="{{question.id}}"><span class="question-order">{{question.order}}</span>.-->
                   <!--<input type="text" value="{{question.text}}"></li>-->
               <!--{% empty %}-->
               <!--<li class="list-group-item" data-id=""><span class="question-order"></span>.-->
                   <!--<input type="text" value=""></li>-->
               <!--{% endfor %}-->
               <!--</ul>-->

        {% if page or not pagec %}
            <input type="submit" value="Edit">
        {% else %}
            <input type="submit" value="Add page">
        {% endif%}
        {% csrf_token %}
    </form>
    {% if formset %}
        <form action="{% url 'tests:question_save'%}" method="post">{% csrf_token %}
            <input type="hidden" value={{test.id}} name="test_id">
            <input type="hidden" value={{page.order}} name="page_order">
            <table class="table">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            <th>Question order</th>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr>
                        <td><span class="question_order">{{form.order.value|default_if_none:""}}</span></td>
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Save"/>
        </form>
    {% endif %}
</div>

{% endblock %}
{% block domready %}
    <!--let delete_page = $('.deletePage');-->
    <!--console.log(delete_page.length);-->
    <!--delete_page.click(function(e){-->
        <!--e.preventDefault();-->
        <!--let del = confirm("Delete page?");-->
        <!--if (del){-->
            <!--let test_id = this.dataset.test_id;-->
            <!--let page_id = this.dataset.page_id;-->
            <!--let parent = this.parentNode;-->
            <!--$.ajax({-->
                <!--url: "{% url 'tests:delete_page' %}",-->
                <!--method: 'POST',-->
                <!--data: {'page_id': page_id,-->
                        <!--'test_id':test_id},-->
                <!--success: function(data){-->
                    <!--console.log('Deleted');-->
                    <!--if (delete_page.length > 1){-->
                        <!--parent.remove();-->
                        <!--delete_page = $('.deletePage');-->
                        <!--}-->
                    <!--else {-->
                        <!--parent.innerHTML = "No pages"-->
                    <!--}-->
                    <!--$('.list-group').children().each(function(){-->
                        <!--$(this).find('.order').text($(this).index() + 1);-->
                    <!--});-->
                <!--},-->
                <!--error: function(errorData){-->
                    <!--console.log("Error");-->
                    <!--console.log(errorData);-->
                <!--}-->
            <!--})-->
        <!--}-->
        <!--})-->
$('.addquestion').click(function(e){
    e.preventDefault();
    let parent = this.parentNode;
    console.log(parent);
    let li = document.createElement('li');
    li.innerHTML = "<input type='text'>"
    parent.insertBefore(li,this);
});
$('.page-list').sortable({
 stop: function(event, ui) {
    page_order = {};
    $('.page-list').children().each(function(){
    // Обновляем поле порядкового номера.
        $(this).find('.page-order').text($(this).index() + 1);
     // Связываем порядковый номер с идентификатором объекта.
        page_order[$(this).data('id')] = $(this).index()+1;
    });
    console.log(JSON.stringify(page_order));
    $.ajax({
        type: 'POST',
        url: '{% url "tests:page_order" %}',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        data: JSON.stringify(page_order)
 });
 }
});
<!--$('.question-list').sortable({-->
    <!--stop: function(event, ui) {-->
        <!--question_order = {};-->
        <!--$('.question-list').children().each(function(){-->
            <!--console.log(this);-->
            <!--$(this).find('.question-order').text($(this).index() + 1);-->
            <!--$(this).find("input:hidden").val($(this).index());-->
            <!--question_order[$(this).data('id')] = $(this).index();-->

        <!--});-->
        <!--console.log(question_order);-->
        <!--$.ajax({-->
            <!--type: 'POST',-->
            <!--url: '{% url "tests:page_order" %}',-->
            <!--contentType: 'application/json; charset=utf-8',-->
            <!--dataType: 'json',-->
            <!--data: JSON.stringify(question_order)-->
     <!--});-->
     <!--}-->
<!--});-->
$('tbody').sortable({
    stop: function(event, ui) {
        question_order = {};
        $('tbody').children().each(function(){
            console.log($(this).find("input:hidden").first().val());
            $(this).find('.question_order').text($(this).index() + 1);
            $(this).find("input:hidden").first().val($(this).index());
            question_order[$(this).find("input:hidden").eq(1).val()] = $(this).index()+1;

        });
        console.log(question_order[''], Object.keys(question_order).length);
        if (question_order[''] == Object.keys(question_order).length-1){
        console.log('Send');
        $.ajax({
            type: 'POST',
            url: '{% url "tests:question_order" %}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(question_order)
     });}
     }
});
$('#add_more').click(function(e) {
    e.preventDefault();
	var form_idx = $('#id_question-TOTAL_FORMS').val();
    console.log(form_idx);
	$('.question-list').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('.question-list').last().addClass("list-group-item ui-sortable-handle");
	$('#id_question-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});


function question_reorder(){
    $('.table tbody').children().each(function(){
        console.log($(this).find('.question_order'));
        $(this).find('.question_order').text($(this).index() + 1);

        })
}
question_reorder();
{% endblock %}