{% extends "base.html" %}



{% block content %}
<h1>Приветствую на сайте с моими наработками, сделанными с помощью Bootstrap и Django</h1>
<p>Весь бекэнд соответсвенно написан на django с минимальным использованием дополнительных модулей. Все графическое оформление выполнено с целью минимального визуального представления, не уделяя этому достаточного внимания.</p>
<p>Модули:</p>
<ul>
    <li><h3><a href="blog/">Блог:</a></h3>
        <p>Первый сделанный модуль. В ознакомительных целях доступ к созданию тестов доступен каждому зарегестрированному пользователю(так должен быть доступен пользователям с соответсвующими правами).</p>
        <p>Редактирование и удаление постов доступно автору и стаффу.</p>
        <p>В каждом детальном просмотре поста имеется возможность оставлять коменнтарий(с возможность его редактировать и удалять ajax'ом для оставившего комментарий и удаления для стаффа).</p>
        <p>В правом нижнем углу имеется "Админ панель" для возможности быстрого перехода для создания, редактированияи удаления(должно быть видимо для определенной группы пользователей).</p>
        <p>Также есть возможность создавать тэги и добавлять их к постам для поиска по ним.</p>

    <ul><li><a href="{% url 'post_add_url' %}">Create post</a> Создание постов с 3 полями: название(обязательное поле), сланг(опциональный) при отсутсвуется слагается название, и текст поста. Также возможность добавить таг из существующихю</li>
        <li><a href="{% url 'posts_list_url' %}">Post list</a> Список всех созданных постов.</li>
        <li>"blog/слаг поста/" Детальный просмотр поста. Возможность добавления комментариев и реплаев имеющиеся комментарии для зарегестрированный пользователей. Возможно редактирование и удаления комметариев.</li>
        <li>"blog/слаг поста/edit/" Редактирование поста с соответсвующим слагом. Это возмжность в данном случаем может быть некоректна, т.к. пост сразу попадает в общий доступ и редактирование в таком случае не лучшая идея :).
        Доступно для автора.</li>
        <li>"blog/слаг поста/delete/" Удаление поста. Доступно для автора и стаффа.</li>
        <li><a href="{% url 'tags_list_url' %}">Tag list</a> Список всех тэгов. При нажатии на какой либо тэг выведется список постов с данным тэгом.</li>
        <li><a href="{% url 'tag_add_url' %}">Tag add</a> Добавление тэгов.</li>
    </ul></li>
    <li><h3><a href="test/">Tests</a></h3>
    <p>Модуль с возможность создавать пользовательские тесты, публиковать и выполнять их.</p>
    <ul>
        <li><a href="{% url 'tests:create_test_url' %}">Create test</a> Создание основы тесы( название, слаг и описание), также как и в создании поста, slug является оптициональным полем автогенерируемым из названия. Доступно для авторизованных пользоветелейю</li>
        <li><a href="">"test/edit/id теста/"</a> Главная страница редактирования тестов до их публикация( после нее такая возможность пропадает). На ней редактируется основаная информация о тесте.</li>
        <br>
        <p>В левом боковом меню есть возможности:</p><ul>
        <li><a href=""> "test/edit/id теста/preview/" </a> предпросмотра визуального вида теста.</li>
        <li>Список всех страниц данного теста с возможностью поменять их порядок перетаскиванием. С переход к редактированию конкретной страницы.</li>
        <li><a href=""> "test/edit/id теста/add_page/" </a> добавление основы страницы вопроса: названия страницы(необязательное поле, картинка(необязательное), и сам вопрос.</li>
        <li><a href=""> "test/edit/id теста/порядок вопроса/" </a> редактирование страницы вопроса, и добавления новых полей таких как: Right answer( выбор правильного ответа из возможных введенных вариантов), далее текст, появляющий при неверном ответе, и объясняющим верный ответ( необязательное поле).
        И поля с добавлением возможных вариантов ответа на данных вопрос.</li>
        <li>И публикация теста. Необходимымми на данный момент требованиями для публикации: минимум 5 вопросов, по 2 ответа для каджого вопроса и указание правильного ответа на вопрос. При выполнение условий, тест становится видимым всем и пропадает возмость для редактирования. </li>
        </ul>
        <br>
        <li><a href="{% url 'tests:test_list' %}">Test list</a> Содержит список всех опубликованных тестов с их информацией.</li>
        <li><a href="">test/слаг теста/</a> Выполнение теста. На начальной страницы выводятся: Название теста, его описание.
            Также топ 3 ваших результата предыдущих выполнений( в данном исполнение тестов это не самая полезная функция, но при добавлении рандомного решафла вопросов, то в этом появляется больше смысла.
            Добавлен дял использоваия проверки ManyToMany).
            После ответа на все вопросы выводится количество правильных ответов, предлагается лайкнуть или дизлайкнут тест, и список всех вопросов с выделенными правильными и описание ошибки, если такая имеется.
        </li>

    </ul></li>
    <li>
        <h3><a href="{% url 'accounts:home_page' %}">Accounts</a></h3>
            <ul>
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                <li><a href="{% url 'accounts:registration' %}">Registration</a></li>
                <li><a href="{% url 'accounts:home_page' %}">Home page</a> Ссылна на свой профиль, в отличие <a href="">accounts/некий никнейм/</a> имееются дополнительные функции по редартиолапнию профиля
                    и доп информации о собственном контенте. Так же на странице имеется список, сделанных пользоветем постов и тестов по 5 штук, и ссылки на полный список.</li>
                <li><a href="{% url 'accounts:edit_profile' %}">Редактирование данных профиля.</a></li>
                <li><a href="{% url 'accounts:my_test_list' %}">Список тестов</a> Полный список собственных тестов с их инофрмацией и ссылка на изменение, удаление, просмотр.</li>
            </ul>
    </li>
    <li><h3>"Api"</h3>
        <ul>
            <li><a href="{% url 'api:test_list' %}">Test list</a> Выполучает все опубликованные тесы.</li>
            <li><a href="">/api/v1/tests/some id/</a> Детальный ввывод отделного опубликованного теста.</li>
            <li><a href="">/api/v1/tests/some id/edit/</a> Редактор неопубликованного теста автором.</li>
        </ul>
    </li>
</ul>
{% endblock %}
